/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Variables */
:root {
    --purple: #4000BF;
    --grey: #9CA3Af;
}

/* Hiring Section */
.topNavbar {
    background: var(--purple);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}

.topNavbar a {
    color: white;
}

/* Navbar / Menu */
header {
    background: black;
    width: 100%;
    padding: 30px 0;
}

header .navbar {
    width: 55%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFFCC;
}

header .navbar .logo {
    position: relative;
}

header .navbar .logo .byKong {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -50px;
}

header .navbar ul {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
}

header .navbar ul .login {
    margin-left: 35px;
    margin-right: -20px;
}

header .navbar ul .getStarted {
    padding: 10px 20px;
    border: 1px solid #FFFFFFCC;
    border-radius: 5px;
}

header .navbar ul .getStarted:hover {
    transition: 0.2s;
    cursor: pointer;
    border-color: var(--purple);
    background: var(--purple);
}

/* Banner */
.banner {
    background-color: black;
    position: relative;
}

.banner .purpleWavesBg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 160px;
}

.banner .container {
    width: 55%;
    margin: 0 auto;
    display: flex;
    padding: 110px 0;
}

.banner .container .leftContent {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.banner .container .leftContent h2 {
    color: white;
    font-size: 38px;
    margin-bottom: 15px;
}

.banner .container .leftContent p {
    color: var(--grey);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 22px;
}

.banner .container .leftContent .options button {
    background: var(--purple);
    color: white;
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
}

.banner .container .leftContent .options button:hover {
    transition: 0.2s;
    cursor: pointer;
    color: var(--purple);
    background: white;
    border-color: white;
}

.banner .container .leftContent .options a {
    color: #A78BFA;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

.banner .container .leftContent .options a:hover {
    color: white;
    transition: 0.3s;
}

.banner .container .rightContent {
    width: 50%;
}

.banner .container .rightContent img {
    max-width: 500px;
}

/* Brands Section */
.brand {
    background: black;
    width: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.brand img {
    opacity: 0.7;
}

/* Datails-1 Section */
.details {
    background: black;
    width: 100%;
    padding-top: 80px;
}

.details .container {
    width: 57%;
    margin: 0 auto;
    display: flex;
}

.details .container .leftContent {
    width: 50%;
}

.details .container .leftContent img {
    max-width: 550px;
}

.details .container .rightContent {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.details .container .rightContent .title {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 22px;
}

.details .container .rightContent .title h2 {
    font-size: 30px;
}

.details .container .rightContent .title img {
    width: 60px;
}

.details .container .rightContent p {
    color: var(--grey);
    font-size: 18px;
    margin-top: 25px;
    line-height: 25px;
}

.details .container .rightContent a {
    color: #A78BFA;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 25px;
}

.details .container .rightContent a:hover {
    color: white;
    transition: 0.3s;
}

/* Datails-2 Section */
.details2 {
    background: black;
    width: 100%;
    padding-top: 80px;
}

.details2 .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.details2 .container .rightContent {
    width: 58%;
}

.details2 .container .rightContent img {
    width: 600px;
}

.details2 .container .leftContent {
    width: 42%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 80px;
}

.details2 .container .leftContent h2 {
    color: white;
    font-size: 30px;
}

.details2 .container .leftContent p {
    color: var(--grey);
    font-size: 18px;
    margin-top: 18px;
    line-height: 28px;
}

.details2 .container .leftContent a {
    color: #A78BFA;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 18px;
}

.details2 .container .leftContent a:hover {
    color: white;
    transition: 0.3s;
}

/* Datails-3 Section */
.details3 {
    background: black;
    width: 100%;
    padding-top: 80px;
}

.details3 .container {
    width: 57%;
    margin: 0 auto;
    display: flex;
}

.details3 .container .leftContent {
    width: 55%;
}

.details3 .container .leftContent img {
    width: 600px;
}

.details3 .container .rightContent {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
}

.details3 .container .rightContent h2 {
    color: white;
    font-size: 30px;
}

.details3 .container .rightContent p {
    color: var(--grey);
    font-size: 18px;
    margin-top: 18px;
    line-height: 28px;
}

.details3 .container .rightContent a {
    color: #A78BFA;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 18px;
}

.details3 .container .rightContent a:hover {
    color: white;
    transition: 0.3s;
}

/* Datails-4 Section */
.details4 {
    background: black;
    width: 100%;
    padding-top: 80px;
}

.details4 .container {
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.details4 .container .rightContent {
    width: 58%;
}

.details4 .container .rightContent img {
    width: 620px;
}

.details4 .container .leftContent {
    width: 42%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 80px;
}

.details4 .container .leftContent .title {
    display: flex;
    gap: 18px;
}

.details4 .container .leftContent .title h2 {
    color: white;
    font-size: 30px;
}

.details4 .container .leftContent .title img {
    width: 60px;
}

.details4 .container .leftContent p {
    color: var(--grey);
    font-size: 18px;
    margin-top: 18px;
    line-height: 28px;
}

.details4 .container .leftContent a {
    color: #A78BFA;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 18px;
}

.details4 .container .leftContent a:hover {
    color: white;
    transition: 0.3s;
}

/* Testimonials */
.testimonials {
    background: black;
    padding: 80px 0;
    width: 100%;
}

.testimonials h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.testimonials .container {
    width: 56%;
    margin: 0 auto;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.testimonials .container .testimonial {
    background: #151A20;
    width: 30%;
    padding: 16px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.testimonials .container .testimonial p {
    color: #9CA3AF;
    font-size: 15px;
    font-weight: 400;
}

.testimonials .container .testimonial .userData {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.testimonials .container .testimonial .userData img {
    width: 35px;
    border-radius: 50%;
}

.testimonials .container .testimonial .userData h3 {
    color: #D1D5DB;
    font-weight: 300;
    font-size: 16px;
}

/* Call to Action */
.callToAction {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 80px;
}
.callToAction h2 {
    color: white;
    font-size: 30px;
}

.callToAction button {
    padding: 11px 16px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background: var(--purple);
    border: none;
    border-radius: 5px;
}

.callToAction button:hover {
    background: white;
    color: var(--purple);
    cursor: pointer;
    transition: 0.3s;
}

/* Footer */
.footer {
    background: #F3F4F6;
    width: 100%;
}

.footer .top {
    width: 55%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
}

.footer .top .topic {
    width: 25%;
}

.footer .top .topic h4 {
    color: #6B7280;
    font-size: 12px;
    font-weight: 500;
}

.footer .top .topic ul {
    list-style: none;
    margin-top: 12px;
}

.footer .top .topic ul li {
    margin-bottom: 12px;
}

.footer .top .topic ul a {
    text-decoration: none;
    color: #1F2937;
    font-size: 14px;
}

.footer .top .topic ul a span {
    color: #059669;
    font-size: 12px;
    margin-left: 5px;
}
.footer hr {
    width: 55%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 0.3;
}

.footer .bottom {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .bottom p {
    color: #1F2937;
    font-size: 14px;
}

.footer .bottom .socialIcons {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.footer .bottom .socialIcons div {
    background: var(--grey);
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.footer .bottom .socialIcons .icon {
    background: var(--grey);
    padding: 5px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.footer .bottom .socialIcons .icon:hover {
    background: #b2bbca;
    transition: 0.2s;
}